{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>criar atividade</title>
    <link rel="stylesheet" href="{% static 'css/cria.css'%}">
</head>
<body>
    <header>
        <nav>
          <a href="/logout">logout</a>

          <a href="/turmas">voltar</a>
        </nav>
       
       </header>

   <main>
    <section>
        <form action="" method="POST"  enctype="multipart/form-data">{%csrf_token%}
        
            <label for="sala">nome da sala</label>
            
            <input type="sala" name="sala">
            
     
            <label for="descricao">descrição da turma</label><br>
         
            <textarea name="descricao" id="" cols="30" rows="10"></textarea>
           </div>
           <div>
            <input  type="submit" value="criar ">

           </div>
           
            

      
        
    </form>
    </section>
   
   </main>

</body>
</html>