{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>criar atividade</title>
    <link rel="stylesheet" href="{% static 'css/cria.css'%}">
        
</head>
<body>
    <header>
        <nav>
          <a href="/logout">logout</a>

          <a href="/turmas">voltar</a>
        </nav>
       
       </header>

   <main>
    <section>
        <form action="" method="POST"  enctype="multipart/form-data">{%csrf_token%}

            <br><br>
            <label for="titulo">tiulo</label>
            
            <input type="text" value="{{atividade.titulo}}"  name="titulo">
               
            <label for="descricao">descrição da atividade</label><br>

            <textarea name="descricao" id="" cols="30" rows="10">{{atividade.descricao}}</textarea>
    
            <label for="data_entrega">Data de Entrega:</label>
            <input type="date" value="{{atividade.data_entrega|date:'Y-m-d'}}" name="data_entrega" >
            {% if atividade.material %}
            <p>Material atual: <a href="{{ atividade.material.url }}">{{ atividade.material.name }}</a></p>
            {% endif %}
          <label for="material">Novo material:</label>
           <input id="file" type="file" name="material" {% if atividade.material %}value="{{ atividade.material.name }}"{% endif %}>

           </div>
           <div>
            <input type="submit" value="editar"> 

           </div>
          
            

      
        
    </form>
    </section>
   
   </main>

</body>
</html>