{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/visu.css' %}">
  <title>Document</title>

</head>
<body>
  


<header>
 <nav>
  
    <a href="{%url 'nova_turma'%}">se juntar a uma turma</a>
    {% if request.user.professor %}
        <a href="{% url 'criar_turma' %}">criar nova turma</a>
     {% endif %}
    <a href="/logout">logout</a>
    {% if messages %}
       {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <a href=" {% url 'pendente' %}">pendente</a>

 </nav>

</header>
<main>
  <section>


    {% block content %}
    <h1>turmas</h1>
      <ul>
      {% if turma %}
      {% for t in turma %}
          
        <section id="turma">
          <h2>{{ t.sala }}</h2>
          <p>{{ t.descricao }}</p>
          <p>professor:{{ t.professor.user.username  }}</p>
         
          <a href="{% url 'visualizar_atividades' turma_id=t.pk %}">Ver atividades</a>

        </section>
         
    
       {% endfor %} 
      {% endif %}
    {% endblock %}
    


   

   
   
   
   </section>

</main>




</body>
</html>