{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/visu.css' %}">
  <title>Document</title>

</head>
<body>

<header>
 <nav>
   <a href="/logout">logout</a>
          {% if request.user.professor %}
              <a href="{% url 'criar_atividade' %}">criar nova atividade</a>
          {% endif %}
  
   <a href="/turmas">voltar</a>
 </nav>

</header>
<main>
  <section >
    {% block content %}
    <h1>Atividades </h1>
    <h1>    {% if messages %}
      {% for message in messages %}
           <div class="alert alert-{{ message.tags }}">
             {{ message }}
           </div>
       {% endfor %}
   {% endif %}</h1>
   {% endblock %}
  
    {% for atividade in atividades %}
         
         
        <a class="atividade-link"  href="{{ atividade.get_absolute_url }}">
            <h1>{{ atividade.titulo }}</h1>
            <p>{{ atividade.descricao }}</p>
            <p>{{ atividade.turma }}</p>
            {% if atividade.get_atividade_pendente %}
            <p>Pendente</p> 
        
            {% endif %}
            
  
           
        </a>
       

        

   
      {% endfor %}

<ul>


   </section>

</main>




</body>
</html>